<section class = "py-2">
    <div class ="row">
        <div class="col-md-6 text-centere">
            <h1 class="display-3 mt-3 pt-5">
                Social Life Clothing Store
            </h1><p class="lead">Ecommerce Store</p>
            <form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" 
    class="stripe-button"
    data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"   
    data-amount="25"
    data-name="Clothingstore"
    data-description="Shirt"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-zip-code="true">
  </script>
</form>
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
</section>